:root {
  --bg: #05060a;
  --primary: #22c55e;
  --text: #f5f5f5;
  --muted: #9ca3af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.header span {
  color: var(--primary);
}

.header a {
  margin-left: 20px;
  color: var(--muted);
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 40px;
  position: relative;
}

.hero h1 {
  font-size: 4rem;
}

.hero span {
  color: var(--primary);
}

.hero p {
  margin-top: 20px;
  max-width: 450px;
  color: var(--muted);
}

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 25px;
  background: var(--primary);
  color: black;
  border-radius: 30px;
}

/* GLOW */
.hero-glow {
  position: absolute;
  right: 10%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #22c55e, transparent);
  filter: blur(100px);
}

/* WORK */
.work {
  padding: 100px 40px;
}

.project {
  display: flex;
  gap: 50px;
  margin-bottom: 120px;
  align-items: center;
}

.project.reverse {
  flex-direction: row-reverse;
}

.project img {
  width: 500px;
  border-radius: 10px;
}

.text p {
  color: var(--muted);
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 100px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .project {
    flex-direction: column;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }
}